.action_add {
  background-image: url('../images/add.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}

.action_edit {
  background-image: url('../images/edit.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}

.action_remove {
  background-image: url('../images/remove.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}
